body{
    background-color: lightseagreen;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#res{
    text-align: center;
    background-color: white;
    border: solid 4px black;
    width: 5%;
    height: 10%;
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto;
}